.formsend {
    margin-top: 20px;
}



button {
    margin: 10px;
    height: 30px;
    background-color: orange;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    box-sizing: border-box;
    border: 2px white solid;
;
}



button:active {
    background-color: gray;
}

@media (max-width: 576px) {
    select {
        width: 98%;
        margin: 15px 0 15px;
    }

}

@media (hover: hover) {
    button:hover {
        border: 2px gray solid;
    }
}